/build/
/dist/
/venvDir/
/test_trainer/
/.idea/
/__pychache__/
/buildozer/
/android/
/.github/
/deploy/
/chat_bot_records.txt
/gui.spec
/NLPlib.py
/flask_implementation.py
/buildozer.spec
/kivy_calc.py
/prompts.txt
/prompts.py
/button.kv