/build/
/dist/
/venvDir/
/test_trainer/
/.idea/
/__pycache__
/buildozer/
/android/
/.github/
/deploy/
/research/
/chat_bot_records.txt
/gui.spec
/NLPlib.py
/flask_implementation.py
/buildozer.spec
/kivy_calc.py
/prompts.txt
/prompts.py
/button.kv
/.vs
/conv-env
/second_conv_env
/Transfer_Learning/Corpus/.idea/
/Transfer_Learning/Corpus/
/model.py
/view.py
/controller.py
