/build/
/dist/
/venvDir/
/test_trainer/
/.idea/
/__pycache__
/buildozer/
/android/
/.github/
/deploy/
/research/
/chat_bot_records.txt
/gui.spec
/NLPlib.py
/flask_implementation.py
/buildozer.spec
/kivy_calc.py
/prompts.txt
/prompts.py
/button.kv
/.vs
/conv-env
/second_conv_env
/Transfer_Learning/Corpus/.idea/
/Transfer_Learning/Corpus/
/model.py
/view.py
/controller.py
*.ipynb
Transfer_Learning
Transfer_Learning/checkpoint/
Transfer_Learning/models
Transfer_Learning/samples
Train_a_GPT_2_Text_Generating_Model_w_GPU.ipynb
*.ipynb
Train_a_GPT_2_Text_Generating_Model_w_GPU.ipynb
controller.py
model.py
Train_a_GPT_2_Text_Generating_Model_w_GPU.ipynb
view.py
